<div xmlns:th="http://www.thymeleaf.org" class="row" th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml">
    <div class="portlet light" style="overflow: hidden;">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-blue-sharp bold uppercase">供应商批量调佣金比例</span>
            </div>
        </div>

        <div class="portlet-body">
            <form class="form-horizontal" id="balance-rate-batch-update">
                <br>
                <button id='btn-template-download' type='button' class='btn green-meadow default'>&nbsp;&nbsp;模板下载&nbsp;&nbsp;</button>
                <br>
                <hr>
                <h4>上传文件并确认调整</h4>
                <input type="file" name="batchDataFile" value="">
                <p class="help-block">仅支持xls格式，大小不超过3.0M</p>
                <br><br>
                <button id='btn-batch-update' type='button' class='btn green-meadow default'>&nbsp;&nbsp;确定调整&nbsp;&nbsp;
                </button>
            </form>
            <br><br>
            <div th:include="merchant/self/balanceRate/track::copy"></div>
        </div>

    </div>
    <script th:src="@{/js/module/merchant/self/balanceRate/batchUpdate.js}" type="text/javascript"
            th:inline="javascript"></script>

</div>
