<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row" >

        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">修改记录</div>
                    <div class="tools"><a class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table id="trackList" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                <th>编号</th>
                                <th>调整文件</th>
                                <th>影响数量</th>
                                <th>调整时间</th>
                                <th>调整人</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/module/merchant/self/balanceRate/track.js}" type="text/javascript" th:inline="javascript"></script>
</div>



