<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet box red">
		<div class="portlet-title">
		    <div class="caption">公司信息</div>
		    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
		</div>
		<div class="portlet-body">
		    <div class="table-responsive">
			<table class="table table-hover table-bordered table-striped">

			    <tr>
				<td><span class="required">*</span>供应商名称:</td>
				<td>
				    <input th:value="${merchantInfo.companyName}" placeholder="天津运来汽车租赁有限公司" type="text"
					   class="form-control"
					   name="companyName">
				</td>
				<td><span class="required">*</span>供应商地址:</td>
				<td>
				    <input th:value="${merchantInfo.companyAddress}" placeholder="天津市和平区睦南道102号底商"
					   type="text" class="form-control"
					   name="companyAddress">
				</td>
			    </tr>


			    <tr>
				<td><span class="required">*</span>银行名称:</td>
				<td>
				    <input th:value="${merchantInfo.bankName}" placeholder="上海浦东发展银行天津浦吉支行" type="text"
					   class="form-control"
					   name="bankName">
				</td>

				<td><span class="required">*</span>账号:</td>
				<td>
				    <input th:value="${merchantInfo.bankAccount}" placeholder="77110154800003500"
					   type="text" class="form-control"
					   name="bankAccount">
				</td>
			    </tr>

			    <tr>
				<td><span class="required">*</span>邮箱:</td>
				<td>
				    <input th:value="${merchantInfo.email}" placeholder="8510022@qq.com" type="text"
					   class="form-control" name="email">
				</td>


				<td><span class="required">*</span>供应商佣金比例(1-100)%:</td>
				<td>
				    <input th:if="${canChangeRate}" th:value="${merchantInfo.balanceRate}"
					   placeholder="100" type="text"
					   class="form-control" name="balanceRate">
				    <input th:if="${!canChangeRate}" th:value="${merchantInfo.balanceRate}"
					   placeholder="100" type="text"
					   class="form-control" name="balanceRate" readonly>
				</td>
			    </tr>

			    <tr>
				<td><span class="required">*</span>供应商Code：</td>
				<td>
				    <input th:value="${merchantInfo.code}" disabled="disabled" placeholder="tj-yunlai"
					   type="text" class="form-control" name="code">
				</td>

				<td>司机默认佣金比例(1-100)%</td>
				<td>
				    <input th:if="${canChangeRate}" th:value="${merchantInfo.driverBalanceRate}"
					   placeholder="100" type="text"
					   class="form-control" name="driverBalanceRate">
				    <input th:if="${!canChangeRate}" th:value="${merchantInfo.driverBalanceRate}"
					   placeholder="100" type="text"
					   class="form-control" name="driverBalanceRate" readonly>
				</td>
			    </tr>

			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>