<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row" id="driver-info-">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-badge font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">编辑供应商:  </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" id="line-edit-initLineForm" method="POST"
                          enctype="multipart/form-data">

                        <input type="hidden" th:value="${merchantInfo.id}" name="id">

                        <div th:include="merchant/self/edit/selfInfo::copy"></div>
                        <div th:include="merchant/self/edit/card::copy"></div>
                        <div th:include="merchant/self/edit/companyInfo::copy"></div>
                        <div th:include="merchant/self/edit/qualification::copy"></div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-offset-4">
                                        <button id="addBtn" type="button" class="btn blue-madison">提交</button>
                                        <!-- <button type="reset" class="btn blue-madison">重置</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function () {
        var $form = $('#line-edit-initLineForm').randomId();
        var $addBtn = $("#addBtn").randomId();
        var baseUrl = "./merchant/self";

        $addBtn.click(function () {
            if ($form.valid()) {
                var data = new FormData($form[0]);
                IntelCarUtils.ajaxFile(baseUrl + "/editData",
                    data, function (result) {
                        if (result.status == "200") {
                            ToastrUtils.getSuccess("操作成功", result.message);
                            IntelCarUtils.initAjax(baseUrl + "/official/");
                        } else {
                            ToastrUtils.getError("操作失败", result.message);
                        }
                    }
                );
            }
        })

        IntelCarUtils.validate($form, {
            name: {required: true, maxlength: 128},
            code: {required: true, maxlength: 128},
            cellphone: {maxlength: 128, digits: true},
            email: {maxlength: 128, email: true},
            companyName: {required: true, maxlength: 128},
            companyAddress: {required: true, maxlength: 128},
            idCard: {required: true, maxlength: 18},
            bankName: {required: true, maxlength: 128},
            bankAccount: {required: true, digits: true},
            balanceRate: {required: true, digits: true, range: [0, 100]},
            invitationCode: {required: true, maxlength: 6},
            abutName: {required: true, maxlength: 128}
        });

        //更改显示在 标签页 的文字
        IntelCarUtils.pageNameChange($form, "编辑供应商");
    });
</script>
