<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">基本信息</div>
                    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">

                            <tr>
                                <td><span class="required">*</span>法人代表：</td>
                                <td>
                                    <input placeholder="张三" th:value="${merchantInfo.name}" type="text"
                                           class="form-control" name="name">
                                </td>
                                <td><span class="required">*</span>法人电话:</td>
                                <td>
                                    <input th:value="${merchantInfo.cellphone}"
                                           placeholder="13145623698" type="text" class="form-control" name="cellphone">
                                </td>
                            </tr>

                            <tr>
                                <td><span class="required">*</span>性别：</td>
                                <td>
                                    <select name="gender" class="form-control">
                                        <option value="M"
                                                th:selected="${merchantInfo.gender=='M'}">男
                                        </option>
                                        <option value="F"
                                                th:selected="${merchantInfo.gender=='F'}">女
                                        </option>
                                    </select>
                                </td>

                                <td rowspan="2">头像:</td>
                                <td rowspan="2">
                                    <a target="_blank" th:href="${merchantInfo.avatar}">
                                        <img width="80" height="80" th:src="${merchantInfo.avatar}"
                                             alt="头像">
                                    </a>
                                    <br> <br>
                                    <div>
                                        <input type="file" name="avatar" value=""></span>
                                        <p class="help-block">支持jpg、jpeg、png、gif格式，大小不超过3.0M</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="required">*</span>邀请码：</td>
                                <td>
                                    <input disabled="disabled" th:value="${merchantInfo.invitationCode}"
                                           placeholder="123456" type="text"
                                           class="form-control" name="invitationCode">
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <span class="required">*</span>服务城市：
                                </td>
                                <td colspan="3" th:if="!${authChangeMerchantCityId}"
                                    th:text="${arrRegionStr}"></td>

                                <td colspan="3" th:if="${authChangeMerchantCityId}">
                                    <select class="form-filter select2" name="serviceRegion"
                                            id="serviceCity"
                                            multiple="multiple">
                                        <option></option>
                                        <option th:each="region:${regions}"
                                                th:selected="${#strings.contains(arrRegion,','+region.id+',')}"
                                                th:value="${region.id}+'-'+${region.cname}"
                                                th:text="${region.cname}"></option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="required">*</span>对接负责人：</td>
                                <td>
                                    <input placeholder="张三" th:value="${merchantInfo.abutName}"
                                           type="text" class="form-control" name="abutName">
                                </td>
                                <td><span class="required">*</span>当前状态:</td>
                                <td>
                                    <select name="abutStatus" class="form-control">
                                        <option value="1" th:selected="${merchantInfo.abutStatus==1}">谈判中</option>
                                        <option value="3" th:selected="${merchantInfo.abutStatus==3}">服务中</option>
                                        <option value="4" th:selected="${merchantInfo.abutStatus==4}">暂停服务</option>
                                    </select>
                                </td>
                            </tr>

                          <!--  <tr>
                                <td>
                                    供应商商户编号（临时,请勿乱改）
                                </td>
                                <td>
                                    <input th:value="${merchantInfo.signNo}"
                                           placeholder="" type="text"
                                           class="form-control" name="signNo">
                                </td>
                                <td></td>
                                <td></td>
                            </tr>-->


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        jQuery(document).ready(function () {
            var serviceCity = $("#serviceCity").randomId();
            IntelCarUtils.select2(serviceCity, "请选择适用城市");
        })
    </script>
</div>