<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>阿瞒急送后台管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="icon" th:href="@{/miaozou_favicon_new.ico}" type="img/x-ico"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/plugins/select2/select2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/select2/select2-bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/bootstrap-toastr/toastr.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/art_dialog/ui-dialog.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/timcross.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/plugins/layout/css/themes/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/layout/css/components-rounded.css}" id="style_components" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/plugins/layout/css/plugins.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/layout/css/layout.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/layout/css/customer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"
          type="text/css"/>


    <!-- ATODO 为了dashboard提前加载js 不知道有什么其他好方法没?-->
    <script th:src="@{/plugins/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery.cokie.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/js/additional-methods.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/js/localization/messages_zh.min.js}"></script>
    <script th:src="@{/plugins/wangEditor/wangEditor.min.js}"></script>

    <script th:src="@{/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>

    <script th:src="@{/plugins/art_dialog/customer-dialog.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jstree/dist/jstree.min.js}"></script>

    <script th:src="@{/plugins/bootstrap-toastr/toastr.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{/plugins/datatables/datatable_lang_ch.js}"></script>
    <script th:src="@{/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js}"></script>

    <script th:src="@{/plugins/layout/scripts/toastr.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/layout/scripts/metronic.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/layout/scripts/layout.min.js}" type="text/javascript"></script>

    <script th:src="@{/plugins/select2/select2.js}" type="text/javascript"></script>

    <script th:src="@{/js/util/common.js}" type="text/javascript"></script>
    <script th:src="@{/js/utils/btnUtils.js}" type="text/javascript"></script>
    <script th:src="@{/js/utils/qrcode.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"
            type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js}" type="text/javascript"></script>

    <script th:href="@{/plugins/bootstrap-fileinput/bootstrap-fileinput.js}" type="text/javascript"></script>

    <script th:src="@{/plugins/highcharts/highcharts.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/exporting.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/highcharts-zh_CN.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/oldie.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/series-label.js}" type="text/javascript"></script>

</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
<div th:replace="header::copy"></div>
<div class="page-container">
    <div th:replace="menu::copy"></div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="parent-tab active" tab-url="#dashboard">
                        <!--<a data-toggle="tab" aria-expanded="true"><span-->
                                <!--class="parent-tab-span" id="dashboard-span"></span>-->
                            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>-->
                        <!--</a>-->
                    </li>
                </ul>

                <div class="tab-content no-space" id="parent-content">
                    <div class="page-content-body parent-content tab-pane" id="dashboard" disabled="disabled"
                         style="display: block;">
                        <div class="row">
                            <form class="form-horizontal" id="admin-dashboard-search-form">
                                <!--<div class="col-md-12">-->
                                    <!--<div class="portlet light">-->
                                        <!--<div class="portlet-title">-->
                                            <!--<div class="caption">-->

                                            <!--</div>-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-3 col-md-offset-1">-->
                                                    <!--<div class="form-group">-->

                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-1" style="padding-left: 85px;">-->

                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="portlet-body">-->
                                            <!--<div class="table-container">-->
                                                <!--<table class="table table-striped table-bordered table-hover"-->
                                                       <!--id="platform-order-list" style="display: none;">-->
                                                    <!--<thead>-->
                                                    <!--</thead>-->
                                                <!--</table>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                </div>

                <!--<div class="tab-content no-space" id="parent-content">-->
                    <!--<div class="page-content-body parent-content tab-pane" id="dashboard" disabled="disabled"-->
                         <!--style="display: block;">-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div th:replace="bottom::copy"></div>
<script th:src="@{/js/module/merchant/order/index.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    var baselocation = [[${#httpServletRequest.getContextPath()}]];
    jQuery(document).ready(function () {
        try {
            Metronic.init();
            Layout.init();
        } catch (e) {
            console.error(e);
        }
    });
</script>
</body>
</html>
