<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row" >

        <input id="hiddenOrderID"  th:value="${orderInfo.id}" type="hidden"/>

        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">配送记录</div>
                    <div class="tools"><a class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table id="trackList" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr role="row" class="heading">
                            	<th>记录ID</th>
                                <th>跟踪内容</th>
                                <th>操作人</th>
                                <th>跟踪时间</th>                                
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/module/order/track.js}" type="text/javascript" th:inline="javascript"></script>
</div>



