<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">订单信息</div>
                    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tr>
                                <td>订单Id:</td>
                                <td th:text="${orderInfo.id}"></td>
                                <td>订单状态:</td>
                                <td th:switch="${orderInfo.status}">
                                    <span th:case="0">已查价</span>
                                    <span th:case="100">已下单</span>
                                    <span th:case="200">已支付</span>
                                    <span th:case="300">派单中</span>
                                    <span th:case="400">待寄件</span>
                                    <span th:case="500">到店</span>
                                    <span th:case="600">已寄件，配送中</span>
                                    <span th:case="700">配送完成</span>
                                    <span th:case="1000">已取消</span>
                                </td>
                            </tr>

                            <tr>
                                <td>订单类型:</td>
                                <td th:switch="${orderInfo.subscribeType}">
                                    <span th:case="0">实时订单</span>
                                    <span th:case="1">预约订单</span>
                                </td>
                                <td>寄件时间:</td>
                                <td th:text="${orderInfo.pickupTime}"></td>
                                <!--<td th:text="${#dates.format(orderInfo.pickupTime,'yyyy-MM-dd HH:mm:ss')}"></td>-->
                            </tr>

                            <tr>
                                <td>寄件地址:</td>
                                <td th:text="${orderSender.address} + ${orderSender.addressDetail}"></td>
                                <td>寄件经纬度:</td>
                                <td th:text="${orderSender.longitude} +'，'+ ${orderSender.latitude}"></td>
                            </tr>

                            <tr>
                                <td>寄件人姓名:</td>
                                <td th:text="${orderSender.name}"></td>
                                <td>寄件人电话:</td>
                                <td th:text="${orderSender.cellphone}"></td>
                            </tr>

                            <tr>
                                <td>收件地址:</td>
                                <td th:text="${orderReceiver.address} + ${orderSender.addressDetail}"></td>
                                <td>收件经纬度:</td>
                                <td th:text="${orderReceiver.longitude} +'，'+ ${orderSender.latitude}"></td>
                            </tr>

                            <tr>
                                <td>收件人姓名:</td>
                                <td th:text="${orderReceiver.name}"></td>
                                <td>收件人电话:</td>
                                <td th:text="${orderReceiver.cellphone}"></td>
                            </tr>

                            <tr>
                                <td>物品类型:</td>
                                <td></td>
                                <!--<td th:switch="${orderInfo.subscribeType}">-->
                                    <!--<span th:case="0">实时订单</span>-->
                                    <!--<span th:case="1">预约订单</span>-->
                                <!--</td>-->
                                <td>物品重量:</td>
                                <td></td>
                                <!--<td th:text="${orderInfo.id}"></td>-->
                            </tr>

                            <tr>
                                <td>备注:</td>
                                <td th:text="${orderInfo.remark}"></td>
                                <td>供应商:</td>
                                <td th:switch="${orderInfo.spCode}">
                                    <span th:case="iShanSong">闪送</span>
                                    <span th:case="uupt">UU跑腿</span>
                                </td>
                            </tr>

                            <tr>
                                <td>配送员姓名:</td>
                                <td th:text="${orderDeliver==null?'':orderDeliver.name}"></td>
                                <td>配送员电话:</td>
                                <td th:text="${orderDeliver==null?'':orderDeliver.cellphone}"></td>
                            </tr>

                            <tr>
                                <td>订单金额:</td>
                                <td th:text="${userPayment==null?'0.00':#numbers.formatDecimal(userPayment.totalFee/100.0,0,'COMMA',2,'POINT')}"></td>
                                <td>实付金额:</td>
                                <td th:if="${userPayment==null || userPayment.state!=1}">0.00</td>
                                <td th:if="${userPayment!=null && userPayment.state==1}"
                                    th:text="${#numbers.formatDecimal(userPayment.totalFee/100.0,0,'COMMA',2,'POINT')}"></td>
                            </tr>

                            <tr>
                                <td>支付方式:</td>
                                <td th:if="${userPayment!=null}" th:switch="${userPayment.payChannel}">
                                    <span th:case="1">微信支付</span>
                                    <span th:case="2">支付宝支付</span>
                                    <span th:case="3">余额扣减</span>
                                </td>
                                <td th:if="${userPayment==null}">
                                </td>
                                <td>优惠金额:</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>