<div class="row" id="merchant-self-audit-get" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">

    <input disabled="disabled" pname="merchantId" th:value="${merchant.merchantInfo.id}" type="hidden"/>
    <input disabled="disabled" pname="code" th:value="${merchant.merchantInfo.code}" type="hidden"/>
    <input disabled="disabled" pname="pageName" th:value="${'供应商:'+ merchant.merchantInfo.companyName}" type="hidden"/>


    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                        <span class="caption-subject font-blue-sharp bold"
                              th:text="'供应商:'+${merchant.merchantInfo.companyName}">待审核供应商列表</span>
                </div>
            </div>
            <div class="portlet-body">
                <div th:include="merchant/self/selfInfo/selfInfo::copy"></div>
                <div th:include="merchant/self/selfInfo/card::copy"></div>
                <div th:include="merchant/self/selfInfo/qualification::copy"></div>
                <div th:include="merchant/self/selfInfo/selfAccount::copy"></div>

                <!---按钮  start---->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div>

                                <!--<button type="button"
                                        class="btn blue-madison">
                                    修改密码
                                </button>-->

                                <!--<button id="audit_adopt" type="button"-->
                                <!--class="btn blue-madison">-->
                                <!--审核通过-->
                                <!--</button>-->
                                <!--<button id="audit_refuse" type="button"-->
                                <!--class="btn blue-madison">-->
                                <!--审核驳回-->
                                <!--</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!---按钮  end---->

            </div>
        </div>
    </div>
    <script th:src="@{/js/module/merchant/self/audit/get.js}" type="text/javascript" th:inline="javascript"></script>
</div>
