<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet light">
		<div class="portlet-title">
		    <div class="caption">
			<span class="caption-subject font-blue-sharp bold uppercase">待审核供应商列表</span>
		    </div>
		</div>
		<div class="portlet-body">
		    <div class="table-container">
			<table class="table table-striped table-bordered table-hover" id="auditList">
			    <thead>
			    <div class="row form-group">
				<label class="control-label col-md-1">供应商名称</label>
				<div class="col-md-3">
				    <div class="form-group">
					<input name="companyName" base="orderId" type="text"
					       class="form-filter form-control"
					       placeholder="请输入供应商名称"
					       id="order-airport-id-input">
				    </div>
				</div>
				<label class="control-label col-md-1">所属母公司</label>
				<div class="col-md-3">
				    <div class="form-group">
					<input name="parentCompanyName" type="text"
					       class="form-filter form-control"
					       placeholder="请输入所属母公司">
				    </div>
				</div>
				<div class="col-md-offset-1 col-md-1">
				    <button type="button" class="btn green-meadow default"
					    id="btn-search"><i
					    class="fa fa-search"> </i>查&nbsp;询
				    </button>
				</div>
			    </div>


			    <tr role="row" class="heading">
				<th>供应商ID</th>
				<th>用户名</th>
				<th>供应商名称</th>
				<th>所属母公司</th>
				<th>司机数量</th>
				<th>结算系数</th>
				<th>操作人</th>
				<th>操作时间</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>

    <script th:src="@{/js/module/merchant/self/audit/list.js}" type="text/javascript" th:inline="javascript"></script>
</div>
