<div xmlns:th="http://www.thymeleaf.org" class="row" th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp bold uppercase">已完成订单</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="order-finish-list">
                            <thead>
                            <tr role="row" class="filter">
                                <div class="row form-group">
                                    <label class="control-label col-md-1">用户ID</label>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input name="userId" base="userId" type="text"
                                                   class="form-filter form-control"
                                                   placeholder="请输入用户ID"
                                                   id="userId">
                                        </div>
                                    </div>

                                    <div class="col-md-offset-1 col-md-1">
                                        <button type="button" class="btn green-meadow default"
                                                id="btn-search">
                                            <i class="fa fa-search"> </i>查&nbsp;询
                                        </button>
                                    </div>
                                </div>
                            </tr>
                            <tr role="row" class="heading">
                                <th>订单号</th>
                                <th>用户ID</th>
                                <th>城市名称</th>
                                <th>创建时间</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/module/order/finish/list.js}" type="text/javascript"
            th:inline="javascript"></script>

</div>
