<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-seagreen">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-gift"></i>证件信息</div>
                    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tr>
                                <td>身份证正面照:</td>
                                <td>
                                    <a target="_blank" th:href="${merchant.merchantInfo.idCardFront}">

                                        <img width="300" height="300" th:src="${merchant.merchantInfo.idCardFront}">
                                    </a>
                                </td>
                                <td>身份证背面照:</td>
                                <td>
                                    <a target="_blank" th:href="${merchant.merchantInfo.idCardBack}">
                                        <img width="300" height="300" th:src="${merchant.merchantInfo.idCardBack}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>有效证件号:</td>
                                <td th:text="${merchant.merchantInfo.idCard}"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>