<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" role="form" id="changeRate-add-form">
    <div class="form-body">

        <div class="form-group">
            <label class="control-label">选择派单权重:</label>
            <select id="selectedWeight" class="form-control" name="selectedWeight">
                <option value="1" th:selected="${weight eq 1}">1</option>
                <option value="2" th:selected="${weight eq 2}">2</option>
                <option value="3" th:selected="${weight eq 3}">3</option>
                <option value="4" th:selected="${weight eq 4}">4</option>
                <option value="5" th:selected="${weight eq 5}">5</option>
                <option value="6" th:selected="${weight eq 6}">6</option>
                <option value="7" th:selected="${weight eq 7}">7</option>
                <option value="8" th:selected="${weight eq 8}">8</option>
                <option value="9" th:selected="${weight eq 9}">9</option>
                <option value="10" th:selected="${weight eq 10}">10</option>
            </select>
        </div>

    </div>
</form>