<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" role="form" id="changeRate-add-form">
    <div class="form-body">

        <div class="form-group">
            <label class="control-label">选择是否开通接送机订单:</label>
            <select id="selectedAssignAirport" class="form-control" name="selectedAssignAirport">
                <option value="1" selected="selected">是</option>
                <option value="0">否</option>
            </select>
        </div>

    </div>
</form>