<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-gift"></i>资质信息</div>
                    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tr>
                                <td>营业执照:</td>
                                <td>
                                    <a target="_blank" th:href="${merchant.merchantInfo.licencePhoto}">
                                        <img width="300" height="300" th:src="${merchant.merchantInfo.licencePhoto}">
                                    </a>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>