<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">供应商详情</div>
                    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tr>
                                <td>法人代表：</td>
                                <td th:text="${merchant.merchantInfo.name}"></td>
                                <td rowspan="2">头像:</td>
                                <td rowspan="2">
                                    <a target="_blank" th:href="${merchant.merchantInfo.avatar}">
                                        <img width="80" height="80" th:src="${merchant.merchantInfo.avatar}"
                                             alt="头像">

                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>法人电话:</td>
                                <td th:text="${merchant.merchantInfo.cellphone}"></td>
                            </tr>

                            <tr>
                                <td>性别：</td>
                                <td th:text="${merchant.merchantInfo.gender eq 'M'?'男':'女'}"></td>
                                <td>邮箱:</td>
                                <td th:text="${merchant.merchantInfo.email}"></td>
                            </tr>

                            <tr>
                                <td>供应商名称:</td>
                                <td th:text="${merchant.merchantInfo.companyName}"></td>
                                <td>供应商地址:</td>
                                <td th:text="${merchant.merchantInfo.companyAddress}"></td>
                            </tr>

                            <tr>
                                <td>供应商佣金比例(1-100)%</td>
                                <td th:text="${merchant.merchantInfo.balanceRate}+'%'"></td>
                                <td>状态</td>
                                <td th:switch="${merchant.merchantInfo.status}">
                                    <span th:case="100">待审核</span>
                                    <span th:case="10">待审核</span>
                                    <span th:case="1000">审核通过</span>
                                    <span th:case="*">状态异常</span>
                                    <button th:if="${merchant.merchantInfo.status==1000
                     && existTransportManagementAccount==0}"
                                            id='addTransportManagementAccount' type='button'
                                            class='btn purple btn-sm'>添加监管系统账号
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>服务城市</td>
                                <td th:text="${arrRegion}">
                                </td>
                                <td>邀请码</td>
                                <td th:text="${merchant.merchantInfo.invitationCode}">
                                </td>
                            </tr>

                            <tr>
                                <td>对接负责人</td>
                                <td th:text="${merchant.merchantInfo.abutName}"></td>
                                <td>当前状态</td>
                                <td th:switch="${merchant.merchantInfo.abutStatus}">
                                    <span th:case="1">谈判中</span>
                                    <span th:case="3">服务中</span>
                                    <span th:case="4">暂停服务</span>
                                </td>
                            </tr>

                            <tr>
                                <td>工作状态:</td>
                                <td th:switch="${merchant.merchantInfo.workStatus}">
                                    <span th:case="0">不在线</span>
                                    <span th:case="1">在线</span>
                                    <span th:case="*">系统出错</span>
                                </td>
                                <td>司机默认佣金比例(1-100)%:</td>
                                <td th:text="${merchant.merchantInfo.driverBalanceRate}+'%'">
                                </td>
                            </tr>
                            <tr>
                                <td>账户流水：</td>
                                <td>
                                    <a th:href="@{'./merchant/self/account/detail'(merchantCode=${merchant.merchantInfo.code})}"
                                       th:text="${merchantAccountAmount}" class="ajaxify"></a></td>

                                <td rowspan="4">司机注册二维码:</td>
                                <td rowspan="4">
                                    <div id="qrcodeDriverRegister"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>所属母公司:</td>
                                <td>
                                    <span th:text="${parentMerchantCompany}"></span>
                                    <button th:if="${canChangeParentMerchant}" id='changeParentMerchant' type='button'
                                            class='btn purple btn-sm'>修改
                                    </button>
                                </td>

                            </tr>
                            <tr>
                                <td>是否开通接送机订单:</td>
                                <td th:switch="${merchant.merchantInfo.assignAirport}">
                                    <span th:case="1">已开通</span>
                                    <span th:case="0">未开通</span>
                                    <span th:case="*">系统出错</span>
                                    <button id='changeAssignAirport' type='button' class='btn purple btn-sm'>修改</button>
                                </td>
                            </tr>
                            <tr>
                                <td>派单权重:</td>
                                <td th:switch="${merchant.merchantInfo.weight}">
                                    <span th:case="1">1</span>
                                    <span th:case="2">2</span>
                                    <span th:case="3">3</span>
                                    <span th:case="4">4</span>
                                    <span th:case="5">5</span>
                                    <span th:case="6">6</span>
                                    <span th:case="7">7</span>
                                    <span th:case="8">8</span>
                                    <span th:case="9">9</span>
                                    <span th:case="10">10</span>
                                    <span th:case="*">系统出错</span>
                                    <button id='changeWeight' th:if="${weightRight}" type='button'
                                            class='btn purple btn-sm'>修改
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>