.timcross-index-pane {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: block;
    padding-left: 60px;
    padding-right: 60px;
}


.el-table td.is-hidden > *, .el-table th.is-hidden > * {
    visibility: hidden
}

@font-face {
    font-family: element-icons;
    font-weight: 400;
    font-style: normal
}

[class*=" el-icon-"] {
    font-family: element-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

.el-pagination button, .el-pagination span:not([class*=suffix]) {
    display: inline-block;
    font-size: 13px;
    min-width: 35.5px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.el-pagination button {
    border: none;
    padding: 0 6px;
    background: 0 0
}

.el-pagination button:focus {
    outline: 0
}

.el-pagination button:hover {
    color: #409EFF
}

.el-pagination button.disabled {
    color: #c0c4cc;
    background-color: #fff;
    cursor: not-allowed
}

.el-pager li {
    cursor: pointer
}

.el-pagination--small .el-pager li, .el-pagination--small .el-pager li:last-child {
    border-color: transparent;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    min-width: 22px
}

.el-pagination.is-background .el-pager li {
    margin: 0 5px;
    background-color: #f4f4f5;
    color: #606266;
    min-width: 30px;
    border-radius: 2px
}

.el-pagination.is-background .el-pager li:hover {
    color: #409EFF
}

.el-pagination.is-background .el-pager li.active {
    background-color: #409EFF;
    color: #fff
}

.el-pager li {
    vertical-align: top;
    margin: 0;
    display: inline-block
}

.el-pager li {
    padding: 0 4px;
    font-size: 13px;
    min-width: 35.5px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    text-align: center
}

.el-pager li.active + li {
    border-left: 0
}

.el-pager li:hover {
    color: #409EFF
}

.el-pager li.active {
    color: #409EFF;
    cursor: default
}

@-webkit-keyframes v-modal-in {
    0% {
        opacity: 0
    }
}

@-webkit-keyframes v-modal-out {
    100% {
        opacity: 0
    }
}

@-webkit-keyframes dialog-fade-in {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes dialog-fade-in {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes dialog-fade-out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}

@keyframes dialog-fade-out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}

.el-autocomplete-suggestion li {
    padding: 0 20px;
    margin: 0;
    line-height: 34px;
    cursor: pointer;
    color: #606266;
    font-size: 14px;
    list-style: none;
    white-space: nowrap;

    text-overflow: ellipsis
}

.el-autocomplete-suggestion li:hover {
    background-color: #f5f7fa
}

.el-autocomplete-suggestion.is-loading li {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    color: #999
}

.el-autocomplete-suggestion.is-loading li::after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle
}

.el-autocomplete-suggestion.is-loading li:hover {
    background-color: #fff
}

.el-menu li {
    list-style: none
}

.el-menu--horizontal .el-menu-item a, .el-menu--horizontal .el-menu-item a:hover {
    color: inherit
}

.el-menu--collapse > .el-menu-item span, .el-menu--collapse > .el-submenu > .el-submenu__title span {
    height: 0;
    width: 0;

    visibility: hidden;
    display: inline-block
}

.el-menu--collapse > .el-menu-item.is-active i {
    color: inherit
}

.el-menu-item i {
    color: #909399
}

.el-menu-item.is-active i {
    color: inherit
}

.el-submenu__title * {
    vertical-align: middle
}

.el-submenu__title i {
    color: #909399
}

.el-menu-item-group > ul {
    padding: 0
}

.el-switch--wide .el-switch__label.el-switch__label--left span {
    left: 10px
}

.el-switch--wide .el-switch__label.el-switch__label--right span {
    right: 10px
}

.el-select-dropdown__item span {
    line-height: 34px !important
}

.el-table thead {
    color: #909399;
    font-weight: 500
}

.el-table thead.is-group th {
    background: #f5f7fa
}

.el-table th, .el-table tr {
    background-color: #fff
}

.el-table td, .el-table th {
    padding: 12px 0;
    min-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative
}

.el-table th div {
    -webkit-box-sizing: border-box;
    display: inline-block
}

.el-table--medium td, .el-table--medium th {
    padding: 10px 0
}

.el-table--small td, .el-table--small th {
    padding: 8px 0
}

.el-table--mini td, .el-table--mini th {
    padding: 6px 0
}

.el-table tr input[type=checkbox] {
    margin: 0
}

.el-table th {
    white-space: nowrap;

    user-select: none;
    text-align: left
}

.el-table th div {
    line-height: 40px;
    box-sizing: border-box;
    white-space: nowrap
}

.el-table th.required > div::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4d51;
    margin-right: 5px;
    vertical-align: middle
}

.el-table td div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.el-table--border td, .el-table--border th {
    border-right: 1px solid #ebeef5
}

.el-table--border .has-gutter td:nth-last-of-type(2), .el-table--border .has-gutter th:nth-last-of-type(2) {
    border-right: none
}

.el-table__fixed-footer-wrapper tbody td {
    border-top: 1px solid #ebeef5;
    background-color: #f5f7fa;
    color: #606266
}

.el-table__footer-wrapper td {
    border-top: 1px solid #ebeef5
}

.el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
    background-color: #f5f7fa;
    color: #606266
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #FAFAFA
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row > td {
    background-color: #ecf5ff
}

.el-table__column-filter-trigger i {
    color: #909399;
    font-size: 12px;
    -webkit-transform: scale(.75);
    transform: scale(.75)
}

.el-table--enable-row-transition .el-table__body td {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #f5f7fa
}

.el-table-filter__bottom button {
    background: 0 0;
    border: none;
    color: #606266;
    cursor: pointer;
    font-size: 13px;
    padding: 0 3px
}

.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #f2f6fc
}

.el-table-filter__bottom button:hover {
    color: #409EFF
}

.el-table-filter__bottom button:focus {
    outline: 0
}

.el-table-filter__bottom button.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-date-table.is-week-mode .el-date-table__row:hover td:first-child div {
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

.el-date-table.is-week-mode .el-date-table__row:hover td:last-child div {
    margin-right: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

.el-date-table td {
    width: 32px;
    height: 30px;
    padding: 4px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative
}

.el-date-table td div {
    height: 30px;
    padding: 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.el-date-table td span {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    line-height: 24px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%
}

.el-date-table td.today span {
    color: #409EFF
}

.el-date-table td.today.end-date span, .el-date-table td.today.start-date span {
    color: #fff
}

.el-date-table td.current:not(.disabled) span {
    color: #fff;
    background-color: #409EFF
}

.el-date-table td.end-date div, .el-date-table td.start-date div {
    color: #fff
}

.el-date-table td.end-date span, .el-date-table td.start-date span {
    background-color: #409EFF
}

.el-date-table td.start-date div {
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

.el-date-table td.end-date div {
    margin-right: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

.el-date-table td.disabled div {
    background-color: #f5f7fa;
    opacity: 1;
    cursor: not-allowed;
    color: #c0c4cc
}

.el-month-table td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer
}

.el-year-table td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer
}

.el-date-range-picker__header div {
    font-size: 16px;
    font-weight: 500;
    margin-right: 50px
}

.el-date-range-picker__content.is-right .el-date-range-picker__header div {
    margin-left: 50px;
    margin-right: 50px
}

.el-date-picker table {
    table-layout: fixed;
    width: 100%
}

.el-range-editor.is-disabled input {
    background-color: #f5f7fa;
    color: #c0c4cc;
    cursor: not-allowed
}

.el-range-editor.is-disabled input::-webkit-input-placeholder {
    color: #c0c4cc
}

.el-range-editor.is-disabled input:-ms-input-placeholder {
    color: #c0c4cc
}

.el-range-editor.is-disabled input::placeholder {
    color: #c0c4cc
}

.el-message-box__message p {
    margin: 0;
    line-height: 24px
}

.el-message-box__btns button:nth-child(2) {
    margin-left: 10px
}

@-webkit-keyframes msgbox-fade-in {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes msgbox-fade-in {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes msgbox-fade-out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}

@keyframes msgbox-fade-out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}

.el-tabs__nav-wrap {

    margin-bottom: -1px;
    position: relative
}

.el-tabs__nav-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e4e7ed;
    z-index: 1
}

.el-tabs--border-card > .el-tabs__header .el-tabs__nav-wrap::after, .el-tabs--card > .el-tabs__header .el-tabs__nav-wrap::after {
    content: none
}

.el-tabs__nav {
    position: relative;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    float: left;
    z-index: 2
}

.el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #303133;
    position: relative
}

.el-tabs__item:focus, .el-tabs__item:focus:active {
    outline: 0
}

.el-tabs__item.is-active {
    color: #409EFF
}

.el-tabs__item:hover {
    color: #409EFF;
    cursor: pointer
}

.el-tabs__item.is-disabled {
    color: #c0c4cc;
    cursor: default
}

.el-tabs__content {

    position: relative
}

.el-tabs--card > .el-tabs__header {
    border-bottom: 1px solid #e4e7ed
}

.el-tabs--card > .el-tabs__header .el-tabs__nav {
    border: 1px solid #e4e7ed;
    border-bottom: none;
    border-radius: 4px 4px 0 0
}

.el-tabs--card > .el-tabs__header .el-tabs__item {
    border-bottom: 1px solid transparent;
    border-left: 1px solid #e4e7ed;
    -webkit-transition: color .3s cubic-bezier(.645, .045, .355, 1), padding .3s cubic-bezier(.645, .045, .355, 1);
    transition: color .3s cubic-bezier(.645, .045, .355, 1), padding .3s cubic-bezier(.645, .045, .355, 1)
}

.el-tabs--card > .el-tabs__header .el-tabs__item:first-child {
    border-left: none
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #fff
}

.el-tabs--border-card > .el-tabs__content {
    padding: 15px
}

.el-tabs--border-card > .el-tabs__header {
    background-color: #f5f7fa;
    border-bottom: 1px solid #e4e7ed;
    margin: 0
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item {
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    border: 1px solid transparent;
    margin: -1px -1px 0;
    color: #909399
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
    color: #409EFF;
    background-color: #fff;
    border-right-color: #dcdfe6;
    border-left-color: #dcdfe6
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item:hover {
    color: #409EFF
}

.el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2), .el-tabs--bottom .el-tabs__item.is-top:nth-child(2), .el-tabs--top .el-tabs__item.is-bottom:nth-child(2), .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
    padding-left: 0
}

.el-tabs--bottom .el-tabs__item.is-bottom:last-child, .el-tabs--bottom .el-tabs__item.is-top:last-child, .el-tabs--top .el-tabs__item.is-bottom:last-child, .el-tabs--top .el-tabs__item.is-top:last-child {
    padding-right: 0
}

.el-tabs--bottom .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--border-card .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card .el-tabs__item:nth-child(2) {
    padding-left: 20px
}

.el-tabs--bottom .el-tabs--left .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card .el-tabs__item:last-child, .el-tabs--top .el-tabs--left .el-tabs__item:last-child, .el-tabs--top .el-tabs--right .el-tabs__item:last-child, .el-tabs--top.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--top.el-tabs--card .el-tabs__item:last-child {
    padding-right: 20px
}

.el-tabs--left .el-tabs__nav, .el-tabs--right .el-tabs__nav {
    float: none
}

.el-tabs--left .el-tabs__nav-next i, .el-tabs--left .el-tabs__nav-prev i, .el-tabs--right .el-tabs__nav-next i, .el-tabs--right .el-tabs__nav-prev i {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg)
}

.el-tabs--left.el-tabs--card .el-tabs__nav {
    border-radius: 4px 0 0 4px;
    border-bottom: 1px solid #e4e7ed;
    border-right: none
}

.el-tabs--right.el-tabs--card .el-tabs__nav {
    border-radius: 0 4px 4px 0;
    border-bottom: 1px solid #e4e7ed;
    border-left: none
}

@-webkit-keyframes slideInRight-enter {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slideInRight-enter {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes slideInRight-leave {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }
}

@keyframes slideInRight-leave {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }
}

@-webkit-keyframes slideInLeft-enter {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slideInLeft-enter {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes slideInLeft-leave {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
}

@keyframes slideInLeft-leave {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
}

.el-notification__content p {
    margin: 0
}

.el-loading-spinner i {
    color: #409EFF
}

@-webkit-keyframes loading-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loading-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}

.el-row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.el-row::after, .el-row::before {
    display: table
}

.el-row::after {
    clear: both
}

.el-col-24 {
    width: 100%
}

@-webkit-keyframes progress {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 32px 0
    }
}

.el-upload iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

.el-upload--picture-card i {
    font-size: 28px;
    color: #8c939d
}

.el-upload-dragger .el-upload__text em {
    color: #409EFF;
    font-style: normal
}

.el-upload-list--picture-card .el-upload-list__item-status-label i {
    font-size: 12px;
    margin-top: 11px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.el-upload-list--picture-card .el-upload-list__item-actions span {
    display: none;
    cursor: pointer
}

.el-upload-list--picture-card .el-upload-list__item-actions span + span {
    margin-left: 15px
}

.el-upload-list--picture-card .el-upload-list__item-actions:hover span {
    display: inline-block
}

.el-upload-list--picture .el-upload-list__item.is-success .el-upload-list__item-name i {
    display: none
}

.el-upload-list--picture .el-upload-list__item-name i {
    font-size: 70px;
    line-height: 1;
    position: absolute;
    left: 9px;
    top: 10px
}

.el-upload-list--picture .el-upload-list__item-status-label i {
    font-size: 12px;
    margin-top: 12px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.el-upload-cover img {
    display: block;
    width: 100%;
    height: 100%
}

.el-upload-cover__label i {
    font-size: 12px;
    margin-top: 11px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #fff
}

.el-upload-cover__interact .btn span {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.el-upload-cover__interact .btn:hover span {
    opacity: 1
}

.el-upload-cover__interact .btn i {
    color: #fff;
    display: block;
    font-size: 24px;
    line-height: inherit;
    margin: 0 auto 5px
}

.el-progress__text i {
    vertical-align: middle;
    display: block
}

.el-progress--circle .el-progress__text i {
    vertical-align: middle;
    display: inline-block
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124
    }
}

.el-message p {
    margin: 0
}

.el-carousel__arrow i {
    cursor: pointer
}

.el-carousel__indicators--outside .el-carousel__indicator:hover button {
    opacity: .64
}

.el-carousel__indicators--outside button {
    background-color: #c0c4cc;
    opacity: .24
}

.el-carousel__indicator:hover button {
    opacity: .72
}

.el-carousel__indicator.is-active button {
    opacity: 1
}

.el-cascader__label span {
    color: #000
}

.el-color-svpanel__cursor > div {
    width: 4px;
    height: 4px;
    -webkit-box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, .3), 0 0 1px 2px rgba(0, 0, 0, .4);
    box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, .3), 0 0 1px 2px rgba(0, 0, 0, .4);
    border-radius: 50%;
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
}

.el-transfer__button i, .el-transfer__button span {
    font-size: 14px
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label span {
    position: absolute;
    right: 15px;
    color: #909399;
    font-size: 12px;
    font-weight: 400
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

.char-logo img[data-v-3afe8247] {
    width: 100%;
    height: 100%
}

.char-logo-mini img[data-v-3afe8247] {
    border-radius: 4px
}

.char-logo-sm img[data-v-3afe8247] {
    border-radius: 4px
}

.char-logo-bsm img[data-v-3afe8247] {
    border-radius: 6px
}

.app-info .app-title .bill-btn i[data-v-1dba68c9] {
    margin-right: 3px;
    height: 19px;
    line-height: 19px
}

.add-service-cont .flex-cont {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 220px;
    overflow-y: auto
}

.add-service-cont .service-item {
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 260px;
    border: 1px solid #d1dbe5;
    border-radius: 4px;
    background-color: #fff;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
    padding: 10px
}

.add-service-cont .service-item .service-name {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 70px;

    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px
}

.service-add-choser .service-card .service-name {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    width: 60%;
    left: 70px;
    top: 25px
}

.service-item .service-name[data-v-24ae4d14] {
    font-weight: 700;
    font-size: 16px;
    color: #475669;
    text-overflow: ellipsis;

    white-space: nowrap;
    margin-top: 15px
}

.service-item .remark[data-v-24ae4d14] {
    color: #99a9bf;
    font-size: 12px;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-top: 15px
}

#server-panel .el-tabs__nav {
    z-index: 0
}

#server-panel .env-cont li {
    padding: 0 15px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 15px
}

#dev-center-wrap p[data-v-6620a440] {
    padding: 0;
    margin: 0
}

#app-service-container {
    width: 1200px;
    margin: 0 auto
}

#app-service-container p {
    margin: 5px 0
}

#app-service-container .el-tabs__nav {
    float: none;
    text-align: center
}

#app-service-container .el-tabs__item {
    animation: all .4s
}

#app-service-container .flex-cont {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: left
}

#app-service-container .flex-cont .service-item {
    margin: 10px;
    width: 210px;
    height: 130px;
    text-align: center;
    cursor: pointer;
    padding: 30px;
    border: 1px solid #e5e9f2;
    border-radius: 5px
}

#app-service-container .flex-cont .service-item:hover {
    background-color: #f9fafc
}

#app-service-container .flex-cont .service-item .service-name {
    font-weight: 700;
    font-size: 16px;
    color: #475669;
    text-overflow: ellipsis;

    white-space: nowrap;
    margin-top: 15px
}

#app-service-container .flex-cont .service-item .remark {
    color: #99a9bf;
    font-size: 12px;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-top: 15px
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
}

.resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1
}

.resize-triggers > div {
    background: #eee;
    overflow: auto;
}

.contract-trigger:before {
    width: 200%;
    height: 200%;
}