.navbar-fixed-top {
    position: absolute;
}
div .portlet-body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.portlet.light .portlet-body {
    padding-top: 0px;
}
.portlet.box > .portlet-body {
    padding: 0px;
}
.table {
    margin-bottom: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}
.page-sidebar {
    width: 180px;
    position: fixed;
}
.page-content-wrapper .page-content {
    margin-left: 180px;
    margin-top: 0px;
    min-height: 600px;
    padding: 0px 0 0 20px;
}
.page-container {
    padding-top: 10px;
}
.platform-order-buttom-btn {
    position: fixed;
    bottom: 0px;
    background: rgba(255, 255, 255, .8);
}
.platform-order-detail-tooltip,.platform-order-detail-tooltip-north {
    width: 18px;
}
.platform-order-detail-sidebar {
    position: fixed;
    width: 0;
    top: 130px;
    right: 10px;
    overflow: visible;
    z-index: 1;
}
.platform-order-detail-sidebar-box {
    display:inline-block;
    float:left;
    clear:both;
}
.platform-order-detail-sidebar-card {
    position:relative;
    right:32px;
    padding:16px 32px 16px 11px;
    margin:8px;
    x-box-shadow:0 0 8px 0 rgba(0,0,0,.5);
    box-shadow:8px 0 8px -8px rgba(0,0,0,.5);
    background:#fff;
    transition:all .3s ease-in-out .1s;
}
.platform-order-detail-sidebar-card:hover {
    position:relative;
    right:100%;
    margin-right:-32px;
    box-shadow:0 -8px 8px -8px rgba(0,0,0,.5),0 8px 8px -8px rgba(0,0,0,.5);
    transition:all .3s ease-in-out;
}
.platform-order-detail-sidebar-card-content {
    color:#fff;
    font-family:droid sans,sans-serif;
    font-size:16px;
    font-weight:700;
    white-space:nowrap;
}
.platform-order-detail-sidebar-color-01 {
    background:#539770;
}
.platform-order-detail-sidebar-color-02 {
    background:#be7467;
}