<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="award-and-punish-import-container">
    <form role="form" enctype='multipart/form-data' id="awardAndPunishImportForm">
	<div class="form-body">
	    <div class="row form-group">
		<label class="control-label col-md-4">导入模板</label>
		<div class="col-md-8">
		    <button type="button" class="btn btn-primary"
			    id="awardAndPunishTemplate">模板下载
		    </button>
		</div>
	    </div>

	    <div class="row form-group">
		<label class="control-label col-md-4">奖励月份</label>
		<div class="input-group date form_meridian_datetime"
		     data-date="2012-12-21">
		    <input name="awardAndPunishImportMonth" type="text" size="10"
			   id="awardAndPunishImportMonth"
			   class="form-filter form-control form-date">
		</div>
	    </div>

	    <div class="row form-group">
		<label class="control-label col-md-4">导入文件</label>
		<div class="col-md-6">
		    <input type="file" name="awardAndPunishExcel" id="awardAndPunishExcel"
			   class="form-filter form-control">
		</div>
	    </div>

	    <div class="col-md-1">
		<button type="button" class="btn green-meadow default"
			id="awardAndPunishSubmit">提&nbsp;交
		</button>
	    </div>

	</div>
    </form>
    <script th:src="@{/js/module/merchant/self/account/award-and-punish-import.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>