<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet light">
		<div class="portlet-title">
		    <div class="caption" style="float: none; overflow: hidden; display: block;">
			<span class="caption-subject font-blue-sharp bold uppercase">奖罚导入记录列表</span>
		    </div>
		</div>
		<div class="portlet-body">
		    <div class="table-container">
			<table class="table table-striped table-bordered table-hover" id="awardAndPunishImportList">
			    <thead>
			    <tr role="row" class="heading">
				<th>操作人</th>
				<th>操作时间</th>
				<th>导入数据下载</th>
				<th>导入失败数据下载</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/account/award-and-punish-import-list.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>
