<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet light">
		<div class="portlet-title">
		    <div class="caption" style="float: none; overflow: hidden; display: block;">
			<span class="caption-subject font-blue-sharp bold uppercase">奖罚列表</span>
		    </div>
		</div>
		<div class="portlet-body award-and-punish-bill">
		    <div class="table-container">
			<div class="row form-group">
			    <label class="control-label col-md-1">奖罚单号</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="orderNo" type="text"
					   class="form-filter form-control"
					   placeholder="输入佣金单号"
					   id="orderNo">
				</div>
			    </div>

			    <label class="control-label col-md-1">供应商名称</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="merchantName" type="text"
					   class="form-filter form-control"
					   placeholder="请输入供应商名称"
					   id="merchantName">
				</div>
			    </div>

			    <label class="control-label col-md-1">奖罚月份</label>
			    <div class="input-group date form_meridian_datetime"
				 data-date="2012-12-21">
				<input name="awardAndPunishMonth" type="text" size="10"
				       id="awardAndPunishMonth"
				       class="form-filter form-control form-date">
			    </div>
			</div>
			<div class="row form-group">
			    <label class="control-label col-md-1">生成账单</label>
			    <div class="col-md-2">
				<select name="billStatus"
					class="select2-container form-control select2 form-filter"
					id="billStatus">
				    <option value="">全部</option>
				    <option th:value="0">否</option>
				    <option th:value="1">是</option>
				</select>
			    </div>
			    <label class="control-label col-md-1">创建时间</label>
			    <div class="col-md-6">
				<div class="input-group date form_meridian_datetime"
				     data-date="2012-12-21T15:25">
				    <input name="startTime" type="text"
					   id="award-and-punish-datetime-1"
					   class="form-filter form-control form-date">
				    <span class="input-group-addon">~ </span>
				    <input name="endTime" type="text"
					   id="award-and-punish-datetime-2"
					   class="form-filter form-control form-date">
				</div>
			    </div>
			</div>
			<div class="row form-group">

			    <div class="col-md-1" style="float:right; margin-right: 25px;">
				<button type="button" class="btn green-meadow default"
					id="btn-search"><i
					class="fa fa-search"> </i>查&nbsp;询
				</button>
			    </div>
			</div>
			<div class="form-group">
			    <button type="button" class="btn btn-primary" id="awardAndPunishBatchImport">批量导入</button>
			    <button type="button" class="btn btn-danger" id="awardAndPunishBatchInvalid">批量作废</button>
			    <button type="button" class="btn btn-primary" id="awardAndPunishImportRecord">批量导入记录
			    </button>
			</div>
			<table class="table table-striped table-bordered table-hover" id="awardAndPunishList">
			    <thead>
			    <tr role="row" class="heading">
				<th><input type="checkbox" name="awardAndPunishSelectAll" id="rewardAndPunishSelectAll">
				<th>奖罚单号</th>
				<th>供应商名称</th>
				<th>所属母公司</th>
				<th>奖罚月份</th>
				<th>奖罚金额</th>
				<th>生成账单</th>
				<th>创建人</th>
				<th>创建时间</th>
				<th>备注</th>
				<th>操作</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/account/award-and-punish.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>
