<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet light commission-list-container">
		<div class="portlet-title">
		    <div class="caption" style="float: none; overflow: hidden; display: block;">
			<span class="caption-subject font-blue-sharp bold uppercase">佣金列表(未出账单)</span>
			<!--<strong style="color: red;">注意：生成账单只能以收款公司为维度</strong>-->
		    </div>
		</div>
		<div class="portlet-body">
		    <div class="table-container">
			<div class="row form-group">
			    <label class="control-label col-md-1">供应商名称</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="merchantName" type="text"
					   class="form-filter form-control"
					   placeholder="请输入供应商名称"
					   id="merchantName">
				</div>
			    </div>

			    <label class="control-label col-md-1">收款公司</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="collectionMerchantCompany" type="text"
					   class="form-filter form-control"
					   placeholder="请输入供应商名称"
					   id="collectionMerchantCompany">
				</div>
			    </div>

			    <label class="control-label col-md-1">佣金月份</label>
			    <div class="input-group date form_meridian_datetime"
				 data-date="2012-12-21">
				<input name="month" type="text" size="10"
				       id="commissionMonth"
				       class="form-filter form-control form-date" th:value="${month}">
			    </div>
			</div>
			<div class="row form-group">
			    <div class="col-md-2" style="float:right; margin-right: 25px;">
				<button type="button" class="btn green-meadow default"
					id="btn-punish-export">处罚明细一键导出
				</button>
			    </div>
			    <div class="col-md-1" style="float:right; margin-right: 25px;">
				<button type="button" class="btn green-meadow default"
					id="btn-search"><i
					class="fa fa-search"> </i>查&nbsp;询
				</button>
			    </div>
			</div>
			<div class="form-group">
			    <button type="button" class="btn btn-primary generate-bill">生成账单</button>
			</div>
			<table class="table table-striped table-bordered table-hover" id="commissionList">
			    <thead>
			    <tr role="row" class="heading">
				<th>供应商名称</th>
				<th>收款公司</th>
				<th>佣金月份</th>
				<th>流水总条数</th>
				<th>订单收入</th>
				<th>处罚金额</th>
				<th>奖励金额</th>
				<th>佣金总额</th>
				<th>操作</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/account/commission-list.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>
