<form xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" id="awardAndPunishEditForm">
    <div class="form-body">
	<input type="hidden" name="merchantAccountDetailId" th:value="${merchantAccountDetailId}">
	<div class="row">
	    <div class="col-md-12">
		<div class="portlet box blue">
		    <div class="portlet-title">
			<div class="caption">佣金单信息</div>
			<div class="tools"><a href="javascript:;" class="collapse"></a></div>
		    </div>
		    <div class="portlet-body">
			<div class="table-responsive">
			    <table class="table table-hover table-bordered table-striped">
				<tr>
				    <td>供应商名称：</td>
				    <td th:text="${merchantInfo.companyName}" readonly=""></td>
				    <td>佣金月份：</td>
				    <td th:text="${postMonth}"></td>
				</tr>

				<tr>
				    <td>生成账单:</td>
				    <td th:text="${merchantAccountDetail.status >= 2 ? '是':'否'}" readonly=""></td>
				    <td>订单收入</td>
				    <td th:text="${merchantAccountDetail.amout}"></td>
				</tr>
				<tr>
				    <td>创建人:</td>
				    <td th:text="${merchantAccountDetail.operator}"></td>
				    <td>创建时间:</td>
				    <td th:text="${createTime}"></td>
				</tr>
				<tr>
				    <td>备注:</td>
				    <td>
					<input th:value="${merchantAccountDetail.remark}" placeholder="备注"
					       type="text" class="form-control" name="remark">
				    </td>
				    <td></td>
				    <td></td>
				</tr>
			    </table>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/account/award-and-punish-edit.js}" type="text/javascript"
	    th:inline="javascript"></script>
</form>