<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet light">
		<div class="portlet-title">
		    <div class="caption" style="float: none; overflow: hidden; display: block;">
			<span class="caption-subject font-blue-sharp bold uppercase">佣金明细</span>
		    </div>
		</div>
		<div class="portlet-body commission-detail-list">
		    <div class="table-container">
			<div class="row form-group">
			    <input type="hidden" name="merchantCode" th:value="${merchantCode}" id="hiddenMerchantCode">
			    <input type="hidden" name="month" th:value="${month}" id="hiddenMonth">
			    <input type="hidden" name="billStatus" th:value="${billStatus}" id="billStatus">
			    <input type="hidden" name="defaultTransactionNo" th:value="${transactionNo}"
				   id="defaultTransactionNo">
			    <label class="control-label col-md-1">账单批次号</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="transactionNo" type="text"
					   class="form-filter form-control"
					   placeholder="输入账单批次号"
					   id="transactionNo" th:value="${transactionNo}">
				</div>
			    </div>
			    <label class="control-label col-md-1">订单ID</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="orderId" type="text"
					   class="form-filter form-control"
					   placeholder="输入订单号"
					   id="orderId">
				</div>
			    </div>
			</div>
			<div class="row form-group">
			    <label class="control-label col-md-1">司机姓名</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="driverName" type="text"
					   class="form-filter form-control"
					   placeholder="请输入司机姓名"
					   id="driverName">
				</div>
			    </div>
			    <label class="control-label col-md-1">司机手机号</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="driverCellphone" type="text"
					   class="form-filter form-control"
					   placeholder="请输入司机手机号"
					   id="driverCellphone">
				</div>
			    </div>
			</div>
			<div class="row form-group">
			    <label class="control-label col-md-1">创建时间</label>
			    <div class="col-md-4">
				<div class="input-group date form_meridian_datetime"
				     data-date="2012-12-21T15:25">
				    <input name="startTime" type="text" size="10"
					   id="commission-detail-datetime-1"
					   class="form-filter form-control form-date">
				    <span class="input-group-addon">~ </span>
				    <input name="endTime" type="text" size="10"
					   id="commission-detail-datetime-2"
					   class="form-filter form-control form-date">
				</div>
			    </div>
			</div>
			<div class="row form-group">

			    <div class="col-md-1" style="float:right; margin-right: 25px;">
				<button type="button" class="btn green-meadow default"
					id="btn-search"><i
					class="fa fa-search"> </i>查&nbsp;询
				</button>
			    </div>
			</div>

			<table class="table table-striped table-bordered table-hover" id="commissionDetailList">
			    <thead>
			    <tr role="row" class="heading">
				<th>订单id</th>
				<th>用车订单id</th>
				<th>供应商名称</th>
				<th>所属母公司</th>
				<th>产品类型</th>
				<th>司机姓名</th>
				<th>司机手机号</th>
				<th>入账时间</th>
				<th>收支类型</th>
				<th>金额</th>
				<th>生成账单</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/account/commission-detail-list.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>
