<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet light">
		<div class="portlet-title">
		    <div class="caption" style="float: none; overflow: hidden; display: block;">
			<span class="caption-subject font-blue-sharp bold uppercase">佣金列表(已出账单)</span>
		    </div>
		</div>
		<div class="portlet-body commission-bill">
		    <div class="table-container">
			<div class="row form-group">
			    <label class="control-label col-md-1">佣金单号</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="transactionNo" type="text"
					   class="form-filter form-control"
					   placeholder="输入佣金单号"
					   id="transactionNo">
				</div>
			    </div>

			    <label class="control-label col-md-1">供应商名称</label>
			    <div class="col-md-2">
				<div class="form-group">
				    <input name="merchantName" type="text"
					   class="form-filter form-control"
					   placeholder="请输入供应商名称"
					   id="merchantName">
				</div>
			    </div>

			    <label class="control-label col-md-1">佣金月份</label>
			    <div class="input-group date form_meridian_datetime"
				 data-date="2012-12-21">
				<input name="month" type="text" size="10"
				       id="commissionMonth"
				       class="form-filter form-control form-date">
			    </div>
			</div>
			<div class="row form-group">
			    <div class="col-md-1" style="float:right; margin-right: 25px;">
				<button type="button" class="btn green-meadow default"
					id="btn-commission-bill-detail-export">账单明细一键导出
				</button>
			    </div>
			    <div class="col-md-1" style="float:right; margin-right: 25px;">
				<button type="button" class="btn green-meadow default"
					id="btn-commission-bill-export">账单一键导出
				</button>
			    </div>
			    <div class="col-md-1" style="float:right; margin-right: 25px;">
				<button type="button" class="btn green-meadow default"
					id="btn-search"><i
					class="fa fa-search"> </i>查&nbsp;询
				</button>
			    </div>
			</div>

			<table class="table table-striped table-bordered table-hover" id="commissionBillList">
			    <thead>
			    <tr role="row" class="heading">
				<th>佣金单号</th>
				<th>供应商名称</th>
				<th>收款公司</th>
				<th>佣金月份</th>
				<th>订单金额</th>
				<th>处罚金额</th>
				<th>奖励金额</th>
				<th>佣金总额</th>
				<th>创建人</th>
				<th>创建时间</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/account/commission-bill.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>
