<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet light">
		<div class="portlet-title">
		    <div class="caption">
			<span class="caption-subject font-blue-sharp bold uppercase">供应商账户详情</span>
		    </div>
		</div>
		<div class="portlet-body">
		    <div style="padding: 15px 0 40px 0;">
			<h1>供应商：<span th:text="${merchantInfo.companyName}"></span></h1>
			<span class="label label-default">总金额：<span th:text="${amount}"></span></span>
			<span class="label label-primary">可提现：<span
				th:text="${balanceAmount}"></span></span>
			<span class="label label-warning">提现中：<span
				th:text="${pendingAmount}"></span></span>
			<span class="label label-danger">冻结中：<span
				th:text="${frozenAmount}"></span></span>
			<span class="label label-danger">已提现：<span
				th:text="${resolvedAmount}"></span></span>
		    </div>
		    <div class="table-container">
			<table class="table table-striped table-bordered table-hover" id="merchantAccountDetail">
			    <thead>
			    <input type="hidden" name="merchantAccountDetailStatus" value="3"
				   class="form-filter form-control" id="merchantAccountDetailStatus">
			    <input type="hidden" name="merchantCode" th:value="${merchantInfo.code}"
				   class="form-filter form-control" id="merchantAccountDetailCode">
			    <div class="row form-group">
				<div class="col-md-10">
				    <button type="button" class="btn default green-meadow merchant-account-detail-btn"
					    data-status="1">可提现
				    </button>
				    <button type="button" class="btn default merchant-account-detail-btn"
					    data-status="2">提现中流水
				    </button>
				    <button type="button" class="btn default merchant-account-detail-btn"
					    data-status="0">冻结中流水
				    </button>
				    <button type="button" class="btn default merchant-account-detail-btn"
					    data-status="3">已提现
				    </button>
				</div>
			    </div>

			    <tr role="row" class="heading">
				<th>编号</th>
				<th>订单号</th>
				<th>金额</th>
				<th>风控状态</th>
				<th>交易类型</th>
				<th>原因</th>
				<th>交易时间</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/account/detail.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>
