<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="copy">
    <div class="page-footer">
        <div class="page-footer-inner">阿瞒急送 Copyright © 2017-2020</div>
        <!--<div class="scroll-to-top">-->
            <!--<i class="icon-arrow-up"></i>-->
        <!--</div>-->
    </div>
</th:block>