<th:block th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo" style="color: white; font-size: 26px; margin-top: 20px">
                阿瞒急送后台管理系统
            </div>
            <div class="page-top">
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true" id="side_bar_button">
                                <span class="username username-hide-on-mobile" th:if="${username}"
                                      th:text="${username}"></span>
                                <span class="username username-hide-on-mobile" th:unless="${username}"> 用户未登录 </span>
                                <img alt="" class="img-circle" th:src="@{/plugins/layout/img/avatar9.jpg}"/>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <iframe width=0 height=0 frameborder=0 name="logout" id="logout-oauth-iframe"
                                            hidden="hidden"></iframe>
                                    <a th:href="@{/}" target="_blank">
                                        <i class="icon-home"></i> 首页 </a>
                                    <a onclick="javascrpit:;" id="logout-oauth">
                                        <i class="icon-key"></i> 退出 </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var url;
        var lougoutDefault;
        jQuery(document).ready(function () {
            $("#logout-oauth-iframe").html();
            jQuery(function () {
                $("#side_bar_button").click(function () {
                    $("#page-side-menu-bar").toggleClass("in")
                });
                $("#logout-oauth").click(function () {
                    IntelCarUtils.ajax("./logout", {}, function (data) {
                        if (data.status == 200) {
                            try {
                                //INFO TIMCROSSINFO 话务条同步登出
                                ctibar.logout();
                            } catch (e) {
                                console.error(e);
                            }
                            var logoutUrl = data.result;
                            $("#logout-oauth-iframe").attr("src", logoutUrl);
                            url = window.location;
                            window.setTimeout(reload, 200)
                        } else {
                            console.log(data);
                        }
                    }, function (data) {
                        console.log(data);
                    })

                })
            });

            function reload() {
                if ($("logout-oauth-iframe").html() != lougoutDefault) {
                    $("#logout-oauth-iframe").attr("src", url);
                    window.setTimeout(reloadIndex, 200)
                    return false
                } else {
                    window.setTimeout(reload, 50)
                }
            };

            function reloadIndex() {
                window.open(url, "_self");
            }
        });
    </script>
</th:block>
