<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>用车平台</title>
    <link rel="icon" th:href="@{/miaozou_favicon_new.ico}" type="img/x-ico" />
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <<link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/plugins/select2/select2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/select2/select2-bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/bootstrap-toastr/toastr.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/art_dialog/ui-dialog.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/timcross.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/plugins/layout/css/themes/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/layout/css/components-rounded.css}" id="style_components" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/plugins/layout/css/plugins.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/layout/css/layout.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/layout/css/customer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"
          type="text/css"/>


    <!-- ATODO 为了dashboard提前加载js 不知道有什么其他好方法没?-->
    <script th:src="@{/plugins/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery.cokie.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/js/additional-methods.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/js/localization/messages_zh.min.js}"></script>
    <script th:src="@{/plugins/wangEditor/wangEditor.min.js}"></script>

    <script th:src="@{/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>

    <script th:src="@{/plugins/art_dialog/customer-dialog.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/jstree/dist/jstree.min.js}"></script>

    <script th:src="@{/plugins/bootstrap-toastr/toastr.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{/plugins/datatables/datatable_lang_ch.js}"></script>
    <script th:src="@{/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js}"></script>

    <script th:src="@{/plugins/layout/scripts/toastr.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/layout/scripts/metronic.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/layout/scripts/layout.min.js}" type="text/javascript"></script>

    <script th:src="@{/plugins/select2/select2.js}" type="text/javascript"></script>

    <script th:src="@{/js/utils/common.js}" type="text/javascript"></script>
    <script th:src="@{/js/utils/btnUtils.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"
            type="text/javascript"></script>
    <script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js}" type="text/javascript"></script>

    <script th:href="@{/plugins/bootstrap-fileinput/bootstrap-fileinput.js}" type="text/javascript"></script>

    <script th:src="@{/plugins/highcharts/highcharts.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/exporting.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/highcharts-zh_CN.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/oldie.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/highcharts/series-label.js}" type="text/javascript"></script>
    <style>
        .index-focus-img {
            min-width: 100px;
            min-height: 100px;
            width: auto;
            height: auto;
            max-height: 290px;
            display: block;
            margin: 0 auto;
            padding-top: 35px;
        }
    </style>
</head>
<body style="height: 1200px">
<div id="app">
    <div class="el-row" id="home-layout">
        <div th:include="header::copy"></div>
        <div class="el-col el-col-24">
            <div class="container-layout">
                <div id="dev-center-wrap">
                    <!--banner-->
                    <div id="myCarousel" style=" margin-top: 70px;margin-bottom: 25px" class="carousel slide">
                        <div class="carousel-inner" style="">
                            <!--<div class="item active">-->
                                <!--<img th:src="@{/img/banner.png}">-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div data-custom="floor-component" class="floor floor-component"
                         tabindex="-1" style="outline: none;text-align: center">
                        <div id="app-service-container" style="width: 1000px;text-align: center;">
                            <div class="el-tabs el-tabs--top">
<!--                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"-->
<!--                                     onclick="javascript:window.open('http://gjcar.17usoft.com/intelcar-erp','_self');">-->
<!--                                    <img th:src="@{/img/index/interOrder.png}" alt="国际订单" class="index-focus-img">-->
<!--                                    <img th:src="@{/img/index/interOrderCover.png}" style="display: none">-->
<!--                                </div>-->
<!--                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"-->
<!--                                     onclick="javascript:window.open('http://car.17usoft.net/CarOrderAdmin','_self');">-->
<!--                                    <img th:src="@{/img/index/internalOrder.png}" alt="原国内订单" class="index-focus-img">-->
<!--                                    <img th:src="@{/img/index/internalOrderCover.png}" style="display: none">-->
<!--                                </div>-->
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./cswork','_self');">
                                    <img th:src="@{/img/index/workManage.png}" alt="工单管理" class="index-focus-img">
                                    <img th:src="@{/img/index/userManageCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./merchant','_self');">
                                    <img th:src="@{/img/index/merchantManage.png}" alt="自营管理" class="index-focus-img">
                                    <img th:src="@{/img/index/merchantManageCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./platform','_self');">
                                    <img th:src="@{/img/index/supplierManage.png}" alt="渠道管理" class="index-focus-img">
                                    <img th:src="@{/img/index/supplierManageCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./authority','_self');">
                                    <img th:src="@{/img/index/authManage.png}" alt="权限管理" class="index-focus-img">
                                    <img th:src="@{/img/index/authManageCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./resource','_self');">
                                    <img th:src="@{/img/index/resourceData.png}" alt="基础数据管理" class="index-focus-img">
                                    <img th:src="@{/img/index/resourceDataCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./finance','_self');">
                                    <img th:src="@{/img/index/financialManage.png}" alt="财务管理" class="index-focus-img">
                                    <img th:src="@{/img/index/financialManageCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./market','_self');">
                                    <img th:src="@{/img/index/marketCenter.png}" alt="市场中心" class="index-focus-img">
                                    <img th:src="@{/img/index/marketCenterCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./settlement','_self');">
                                    <img th:src="@{/img/index/settlementManage.png}" alt="结算管理" class="index-focus-img">
                                    <img th:src="@{/img/index/settlementManageCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./risk','_self');">
                                    <img th:src="@{/img/index/riskManage.png}" alt="风控管理" class="index-focus-img">
                                    <img th:src="@{/img/index/riskManageCover.png}" style="display: none">
                                </div>
                                <div class="col-md-3" style="margin-left:auto;margin-right:auto;"
                                     onclick="javascript:window.open('./user','_self');">
                                    <img th:src="@{/img/index/userManage.png}" alt="用户管理" class="index-focus-img">
                                    <img th:src="@{/img/index/userManageCover.png}" style="display: none">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    var baselocation = [[${#httpServletRequest.getContextPath()}]];
    var currentDt;
    var redirectUrl = baselocation + '/dashboard';
    jQuery(function () {
        $(".index-focus-img").mouseover(function () {
            var $this = $(this);
            $this.attr("src", $this.attr("src").replace(".png", "Cover.png"));
        }).mouseout(function () {
            var $this = $(this);
            $this.attr("src", $this.attr("src").replace("Cover.png", ".png"));
        });
    });
</script>
</body>
</html>
