<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="copy">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse" id="page-side-menu-bar">
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li>
                    <a href="javascript:;"> <i class="fa fa-yelp"></i>
                        <span class="title">订单管理</span> <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/jidaManagement/order/unpay/list" class="ajaxify"><i
                                    class="fa fa-bars"></i>
                                <span class="title">待支付订单</span>
                            </a>
                        </li>
                        <li>
                            <a href="/jidaManagement/order/unpickup/list" class="ajaxify"><i
                                    class="fa fa-bars"></i>
                                <span class="title">待揽收订单</span>
                            </a>
                        </li>
                        <li>
                            <a href="/jidaManagement/order/delivering/list" class="ajaxify"><i
                                    class="fa fa-bars"></i>
                                <span class="title">配送中订单</span>
                            </a>
                        </li>
                        <li>
                            <a href="/jidaManagement/order/finish/list" class="ajaxify"><i
                                    class="fa fa-bars"></i>
                                <span class="title">已完成订单</span>
                            </a>
                        </li>
                        <li>
                            <a href="/jidaManagement/order/cancel/list" class="ajaxify"><i
                                    class="fa fa-bars"></i>
                                <span class="title">已取消订单</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="javascript:;"> <i class="fa fa-yelp"></i>
                        <span class="title">供应商管理</span> <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/jidaManagement/order/cancel/list" class="ajaxify"><i
                                    class="fa fa-bars"></i>
                                <span class="title">商户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/jidaManagement/order/cancel/list" class="ajaxify"><i class="fa fa-bars"></i>
                                <span class="title">门店管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/jidaManagement/order/cancel/list" class="ajaxify"><i
                                    class="fa fa-bars"></i>
                                <span class="title">账户管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</th:block>
