<form class="form-horizontal" id="reviewForm" role="form" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-2">原因<span class="required">*</span></label>
            <div class="col-md-8">
                <textarea class="form-control" rows="3" name="cancelReason" placeholder="填写原因！"></textarea>                
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function () {
            IntelCarUtils.validate($("#reviewForm"), {
            	cancelReason: {required: true, maxlength: 32},
            });
        });
    </script>
</form>

