<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">

        <input id="merchantCode" th:value="${merchant.merchantInfo.code}" type="hidden"/>
        <input id="merchantId" th:value="${merchant.merchantInfo.id}" type="hidden"/>

        <div class="col-md-12">
            <div class="portlet box blue-chambray">
                <div class="portlet-title">
                    <div class="caption">处罚记录</div>
                    <div class="tools"><a class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table id="punishInfoList" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                <th>处罚金额</th>
                                <th>处罚原因</th>
                                <th>操作人</th>
                                <th>处罚时间</th>
                                <th>操作</th>
                                <th>撤销原因</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/module/merchant/self/punish/punishlist.js}" type="text/javascript"
            th:inline="javascript"></script>
</div>



