<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp bold uppercase">资金账户列表</span>
                    </div>
                    <input type="hidden" id="hidCode" th:value="${code}">
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="capitalAccountList">
                            <thead>
                            <tr role="row" class="heading">
                                <th>供应商ID</th>
                                <th>账户金额</th>
                                <th>结算金额</th>
                                <th>完成订单数</th>
                                <th>创建时间</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/module/merchant/self/official/capitalAccount.js}" type="text/javascript"
            th:inline="javascript"></script>
    <script type="text/javascript" th:inline="javascript">
        jQuery(document).ready(function () {
            var baseUrl = "./merchant/self";
            var $list = $("#capitalAccountList");
            try {
                CapitalAccountList.init($list, baseUrl);
            } catch (e) {
                console.error(e);
            }
        });
    </script>
</div>
