<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" role="form" id="changeParentMerchant">
    <div class="form-body">

	<div class="form-group">
	    <label class="control-label">选择新的母租赁公司:</label>
	    <select id="selectedNewMerchant" class="form-control" name="parentCode">
		<option></option>
		<option th:each="merchant:${merchantInfoList}" th:value="${merchant.code}"
			th:selected="${merchant.code eq merchantCodeNow}"
			th:text="${merchant.companyName}"></option>
	    </select>
	</div>

    </div>
</form>
<script type="text/javascript">
    jQuery(document).ready(function () {
        IntelCarUtils.validate($("#changeRate-add-form"), {
            balanceRate: {required: true, digits: true, range: [0, 100]},
        });
        IntelCarUtils.select2($("#selectedNewMerchant"), "请选择租赁公司");
    });
</script>