<div class="row" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-12">
	<div class="portlet light">
	    <div class="portlet-title">
		<div class="caption">
                        <span class="caption-subject font-blue-sharp bold uppercase"
			>司机列表</span>
		</div>
		<input type="hidden" id="hidMerchatCode" th:value="${merchantCode}">
	    </div>
	    <div class="portlet-body">
		<div class="table-container">
            <div class="form-group">
                <button th:if="${authBatchChangeDriverMerchant}" type="button" class="btn btn-primary driver-batch-move">
                    司机批量转移
                </button>
            </div>
		    <table class="table table-striped table-bordered table-hover" id="driverList">
			<thead>
			<tr role="row" class="heading">
			    <th>司机ID</th>
			    <th>司机姓名</th>
			    <th>终端账号</th>
			    <th>服务城市</th>
			    <th>车型品牌</th>
			    <th>车型</th>
			    <th>所属供应商</th>
			</tr>
			</thead>
		    </table>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/official/driver.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>
