<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="driver-batch-move-container">
    <style>
        #driverBatchMoveForm .form-group > label {
            text-align: right;
        }
    </style>
    <form role="form" enctype='multipart/form-data' id="driverBatchMoveForm">
        <div class="form-body">
            <input type="hidden" name="merchantCode" th:value="${merchant.code}">
            <div class="row form-group">
                <label class="control-label col-md-4">原租赁公司</label>
                <div class="col-md-8">
                    <input type="text" name="merchantCompanyName" class="form-filter form-control"
                           th:value="${merchant.companyName}" readonly>
                </div>
            </div>

            <div class="row form-group">
                <label class="control-label col-md-4">城市</label>
                <div class="col-md-8">
                    <select name="merchantRegionName"
                            class="select2-container form-control select2 form-filter"
                            id="merchantRegionName">
                        <option th:each="region:${driverServiceRegion}"
                                th:value="${region}"
                                th:text="${region}"></option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-4">目标租赁公司</label>
                <div class="col-md-8">
                    <select name="targetMerchantCode"
                            class="select2-container form-control select2 form-filter"
                            id="targetMerchant">
                        <option th:each="merchantInfo:${merchantList}"
                                th:value="${merchantInfo.code}"
                                th:text="${merchantInfo.companyName}"></option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-4">转移数量</label>
                <div class="col-md-8">
                    <select name="moveCount"
                            class="select2-container form-control select2 form-filter"
                            id="moveCount">
                        <option value="0">全部转移</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-4">转移司机状态</label>
                <div class="col-md-8">
                    <select name="moveDriverStatus"
                            class="select2-container form-control select2 form-filter"
                            id="moveDriverStatus">
                        <option value="0">全部司机</option>
                        <option value="1">审核通过司机</option>
                        <option value="2">注册中司机</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-4">网约车驾驶证审核状态</label>
                <div class="col-md-8">
                    <select name="moveNetStatus"
                            class="select2-container form-control select2 form-filter"
                            id="moveNetStatus">
                        <option value="0">全部</option>
                        <option value="1">审核通过</option>
                        <option value="2">未审核通过</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-4">道路许可证审核状态</label>
                <div class="col-md-8">
                    <select name="moveRoadStatus"
                            class="select2-container form-control select2 form-filter"
                            id="moveRoadStatus">
                        <option value="0">全部</option>
                        <option value="1">审核通过</option>
                        <option value="2">未审核通过</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-4">停止接单状态</label>
                <div class="col-md-8">
                    <select name="moveDriverSilenceStatus"
                            class="select2-container form-control select2 form-filter"
                            id="moveDriverSilenceStatus">
                        <option value="0">全部</option>
                        <option value="1">停止接单</option>
                        <option value="2">非停止接单</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn green-meadow default"
                        id="driverBatchMoveSubmit">提&nbsp;交
                </button>
            </div>

        </div>
    </form>
    <script th:src="@{/js/module/merchant/self/official/driver-batch-move.js}" type="text/javascript"
            th:inline="javascript"></script>
</div>