<div class="row" id="merchant-self-official-get" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">

    <input disabled="disabled" pname="merchantId" th:value="${merchant.merchantInfo.id}" type="hidden"/>
    <input disabled="disabled" pname="merchantCode" th:value="${merchant.merchantInfo.code}" type="hidden"/>
    <input disabled="disabled" pname="qrCodeUrl" th:value="${qrCodeUrl}" type="hidden"/>
    <input disabled="disabled" pname="pageName" th:value="${'供应商:'+ merchant.merchantInfo.companyName}" type="hidden"/>

    <div class="col-md-12">
	<div class="portlet light">
	    <div class="portlet-title">
		<div class="caption">
                        <span class="caption-subject font-blue-sharp bold"
			      th:text="'供应商:'+${merchant.merchantInfo.companyName}">正式供应商列表</span>
		</div>
	    </div>
	    <div class="portlet-body">
		<div th:include="merchant/self/selfInfo/selfInfo::copy"></div>
		<div th:include="merchant/self/selfInfo/card::copy"></div>
		<div th:include="merchant/self/selfInfo/qualification::copy"></div>
		<div th:include="merchant/self/selfInfo/selfAccount::copy"></div>
        <div th:include="merchant/self/punish/punishlist::copy"></div>
		<div th:include="merchant/self/official/track::copy"></div>

		<!---按钮  start---->
		<div class="row">
		    <div class="col-md-12">
			<div class="form-group">
			    <div>
				<button id="edit_info" type="button"
					class="btn blue-madison">
				    修改信息
				</button>

				<!--  <button id="edit_pwd" type="button"
					  class="btn blue-madison">
				      修改密码
				  </button>-->

				<button id="find_driver" type="button"
					class="btn blue-madison">
				    查看司机
				</button>

				<button id="find_account" type="button"
					class="btn blue-madison">
				    查看资金账户
				</button>
				<button th:unless="${isOrdinary}" id="acceptOrdinaryBtn" type="button"
					class="btn blue-madison">
				    接普通订单
				</button>
				<button th:if="${isOrdinary}" id="noAcceptOrdinaryBtn" type="button"
					class="btn red">
				    不接普通订单
				</button>
				<button th:unless="${isDiscount}" id="acceptDiscountBtn" type="button"
					class="btn blue-madison">
				    接滴滴特惠订单
				</button>
				<button th:if="${isDiscount}" id="noAcceptDiscountBtn" type="button"
					class="btn red">
				    不接滴滴特惠订单
				</button>
				<button th:if="${isInvalidEnable && merchant.merchantInfo.abutStatus != 0}" id="invalidAccount"
					type="button"
					class="btn red">
				    账户注销
				</button>
				<button th:if="${merchant.merchantInfo.abutStatus == 0}" id="validAccount" type="button"
					class="btn red">
				    账户启用
				</button>

			    </div>
			</div>
		    </div>
		</div>
		<!---按钮  end---->

	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/official/get.js}" type="text/javascript" th:inline="javascript"></script>
</div>
