<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">

	<input id="merchantCode" th:value="${merchant.merchantInfo.code}" type="hidden"/>

	<div class="col-md-12">
	    <div class="portlet box green">
		<div class="portlet-title">
		    <div class="caption">跟踪记录</div>
		    <div class="tools"><a class="collapse"></a></div>
		</div>
		<div class="portlet-body">
		    <div class="table-responsive">
			<table id="merchantTrackList" class="table table-striped table-bordered table-hover">
			    <thead>
			    <tr role="row" class="heading">
				<th>跟踪内容</th>
				<th>类型</th>
				<th>操作人</th>
				<th>跟踪时间</th>
			    </tr>
			    </thead>
			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <script th:src="@{/js/module/merchant/self/official/track.js}" type="text/javascript"
	    th:inline="javascript"></script>
</div>



