<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row" id="driver-info-">
	<div class="col-md-12">
	    <div class="portlet light">
		<div class="portlet-title">
		    <div class="caption">
			<i class="icon-badge font-blue-sharp"></i>
			<span class="caption-subject font-blue-sharp bold uppercase">创建供应商:  </span>
		    </div>
		</div>
		<div class="portlet-body">
		    <form class="form-horizontal" id="line-edit-initLineForm"
			  enctype="multipart/form-data" method="post">

			<div th:include="merchant/self/add/selfInfo::copy"></div>
			<div th:include="merchant/self/add/card::copy"></div>

			<div th:include="merchant/self/add/companyInfo::copy"></div>
			<div th:include="merchant/self/add/qualification::copy"></div>


			<div class="row">
			    <div class="col-md-12">
				<div class="form-group">
				    <div class="col-md-offset-4">
					<button id="addBtn" type="button" class="btn blue-madison">提交</button>
					<!-- <button type="reset" class="btn blue-madison">重置</button>-->
				    </div>
				</div>
			    </div>
			</div>
		    </form>
		</div>
	    </div>
	</div>
    </div>
</div>

<script type="text/javascript">

    /*  function checkform() {
	  var invitationCode = $("#invitationCode_id").randomId().val();
	  if (invitationCode[0] == "0") {
	      ToastrUtils.getError("错误提示", "不能以0开头，而且必须是六位数字");
	      return false;
	  }
	  return true;
      }*/

    jQuery(document).ready(function () {
        var $form = $('#line-edit-initLineForm').randomId();
        var $addBtn = $("#addBtn").randomId();
        var baseUrl = "./merchant/self";
        $addBtn.click(function () {
            if ($form.valid()) {
                if ($("input[name=hasParentMerchantInput]").val() == "1" && !$("select[name=parentMerchantCode]").val()) {
                    $("select[name=parentMerchantCode]").focus();
                    ToastrUtils.getError("操作失败", "请选择所属母公司");
                    return;
                }
                var data = new FormData($form[0]);
                IntelCarUtils.ajaxFile(baseUrl + "/addData",
                    data, function (result) {
                        if (result.status == "200") {
                            ToastrUtils.getSuccess("操作成功", result.message);
                            IntelCarUtils.initAjax(baseUrl + "/official/get?id="+result.result);
                        } else {
                            ToastrUtils.getError("操作失败", result.message);
                        }
                    }
                );
            }
        });

        $(".has-parent-merchant").change(function () {
            $("input[name=hasParentMerchantInput]").val($(this).val());
            if ($(this).val() == "1") {
                $(this).parents("tr").find("select#merchantList").removeAttr("disabled");
            } else {
                $(this).parents("tr").find("select#merchantList").val("");
                $(this).parents("tr").find("select#merchantList").attr("disabled", "disabled");
            }
        });

        IntelCarUtils.validate($form, {
            name: {required: true, maxlength: 128},
            code: {required: true, maxlength: 128},
            cellphone: {maxlength: 128, digits: true},
            email: {maxlength: 128, email: true},
            companyName: {required: true, maxlength: 128},
            companyAddress: {required: true, maxlength: 128},
            idCard: {required: true, maxlength: 18},
            bankName: {required: true, maxlength: 128},
            bankAccount: {required: true, digits: true},
            balanceRate: {required: true, digits: true, range: [0, 200]},
            invitationCode: {required: true, maxlength: 6, minlength: 6},
            driverBalanceRate: {digits: true, range: [0, 100]},
            abutName: {required: true, maxlength: 128},
            hasParentMerchant: {required: true}
        });

        //更改显示在 标签页 的文字
        IntelCarUtils.pageNameChange($form, "创建供应商");
    });
</script>
