<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-seagreen">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-gift"></i>证件信息</div>
                    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tr>
                                <td>身份证正面照:</td>
                                <td>
                                    <div>
                                        <input type="file" name="idCardFront" value="">
                                        <p>支持jpg、jpeg、png、gif格式，大小不超过3.0M</p>
                                    </div>
                                </td>

                                <td>身份证背面照:</td>
                                <td>
                                    <div>
                                        <input type="file" name="idCardBack" value="">
                                        <p>支持jpg、jpeg、png、gif格式，大小不超过3.0M</p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td><span class="required">*</span>身份证:</td>
                                <td colspan="3">
                                    <input placeholder="120201198332022514" type="text" class="form-control"
                                           name="idCard">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>