<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <style>
	#hasParentMerchant-error {
	    position: absolute;
	    width: 81px;
	    top: 18px;
	}

	.has-parent-merchant-radio-container {
	    position: relative;
	}
    </style>
    <div class="row">
	<div class="col-md-12">
	    <div class="portlet box red">
		<div class="portlet-title">
		    <div class="caption">公司信息</div>
		    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
		</div>
		<div class="portlet-body">
		    <div class="table-responsive">
			<table class="table table-hover table-bordered table-striped">
			    <input type="hidden" name="hasParentMerchantInput">
			    <tr>
				<td><span class="required">*</span>是否有母公司:</td>
				<td>
				    <div class="md-radio-inline">
					<div class="md-radio has-parent-merchant-radio-container">
					    <input type="radio" id="hasParentMerchant" name="hasParentMerchant"
						   value="1"
						   class="md-radiobtn has-parent-merchant">
					    <label for="hasParentMerchant">
						<span class="inc"></span>
						<span class="check"></span>
						<span class="box"></span>
						有</label>
					</div>
					<div class="md-radio">
					    <input type="radio" id="noParentMerchant" name="hasParentMerchant" value="0"
						   class="md-radiobtn has-parent-merchant">
					    <label for="noParentMerchant">
						<span class="inc"></span>
						<span class="check"></span>
						<span class="box"></span>
						无</label>
					</div>
				    </div>
				</td>
				<td><span class="required"></span>所属母公司</td>
				<td>
				    <select name="parentMerchantCode"
					    class="select2-container form-control select2 form-filter"
					    id="merchantList">
					<option></option>
					<option th:each="merchant:${merchants}"
						th:value="${merchant.code}"
						th:text="${merchant.companyName}"></option>
				    </select>
				</td>
			    </tr>

			    <tr>
				<td><span class="required">*</span>供应商名称:</td>
				<td>
				    <input placeholder="天津运来汽车租赁有限公司" type="text" class="form-control"
					   name="companyName">
				</td>
				<td><span class="required">*</span>供应商地址:</td>
				<td>
				    <input placeholder="天津市和平区睦南道102号底商" type="text" class="form-control"
					   name="companyAddress">
				</td>
			    </tr>


			    <tr>
				<td><span class="required">*</span>银行名称:</td>
				<td>
				    <input placeholder="上海浦东发展银行天津浦吉支行" type="text" class="form-control"
					   name="bankName">
				</td>

				<td><span class="required">*</span>账号:</td>
				<td>
				    <input placeholder="77110154800003500" type="text" class="form-control"
					   name="bankAccount">
				</td>
			    </tr>

			    <tr>
				<td><span class="required">*</span>邮箱:</td>
				<td>
				    <input placeholder="8510022@qq.com" type="text" class="form-control" name="email">
				</td>

				<td><span class="required">*</span>供应商佣金比例(1-100)%:</td>
				<td>
				    <input placeholder="100" type="text" class="form-control" name="balanceRate">
				</td>
			    </tr>

			    <tr>
				<td><span class="required">*</span>供应商Code：</td>
				<td>
				    <input placeholder="tj-yunlai" type="text" class="form-control" name="code">
				</td>

				<td>司机默认佣金比例(1-100)%</td>
				<td>
				    <input placeholder="100" type="text" class="form-control" name="driverBalanceRate">
				</td>
			    </tr>


			</table>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>