<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">基本信息</div>
                    <div class="tools"><a href="javascript:;" class="collapse"></a></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">

                            <tr>
                                <td><span class="required">*</span>业务联系人：</td>
                                <td>
                                    <input placeholder="张三" type="text" class="form-control" name="name">
                                </td>
                                <td><span class="required">*</span>业务电话:</td>
                                <td>
                                    <input placeholder="13145623698" type="text" class="form-control" name="cellphone">
                                </td>
                            </tr>

                            <tr>
                                <td><span class="required">*</span>性别：</td>
                                <td>
                                    <select name="gender" class="form-control">
                                        <option value="M">男</option>
                                        <option value="F">女</option>
                                    </select>
                                </td>

                                <td rowspan="2">头像:</td>
                                <td rowspan="2">
                                    <div>
                                        <input type="file" name="avatar" value="">
                                        <p class="help-block">支持jpg、jpeg、png、gif格式，大小不超过3.0M</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="required">*</span>邀请码：</td>
                                <td>
                                    <input id="invitationCode_id" placeholder="123456" type="number"
                                           class="form-control" min="0" step="1"
                                           name="invitationCode">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="required">*</span>服务城市：
                                </td>
                                <td colspan="3">
                                    <select class="form-filter select2" name="serviceRegion"
                                            id="serviceCity"
                                            multiple="multiple">
                                        <option></option>
                                        <option th:each="region:${regions}"
                                                th:value="${region.id}+'-'+${region.cname}"
                                                th:text="${region.cname}"></option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="required">*</span>对接负责人：</td>
                                <td>
                                    <input placeholder="张三" type="text" class="form-control" name="abutName">
                                </td>
                                <td><span class="required">*</span>当前状态:</td>
                                <td>
                                    <select name="abutStatus" class="form-control">
                                        <option value="1">谈判中</option>
                                        <option value="3">服务中</option>
                                        <option value="4">暂停服务</option>
                                    </select>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        jQuery(document).ready(function () {
            var serviceCity = $("#serviceCity").randomId();
            IntelCarUtils.select2(serviceCity, "");
        })
    </script>
</div>